{% extends "mainbase.html" %}


{% block maincontent %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          
        <h2 class="display-4">Visits List</h2>

			<hr>
	        {% with messages = get_flashed_messages(with_categories=true) %}
	              {% if messages %}
	                {% for category, message in messages %}
	                   <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
	                   <hr>
	                {% endfor %}
	              {% endif %}
	          {% endwith %}

          	<table id="example2" class="table table-bordered table-hover">
                <thead>
	                <tr>
	                  <th>ID</th>
	                  <th>Date</th>
	                  <th>Time</th>
	                  <th>Patient</th>
	                  <th>Doctor</th>
	                  <th>Remote</th>
	                  <th>Status</th>
	                  <th>Adjustments</th>
	                </tr>
                </thead>
                <tbody>

		            {%for row in range(1,(rows)| length)%} 
			    		<tr>
				        	<td>{{ rows[row].id }}</a></td>
				        	<td>{{ rows[row].date }} </td>
				        	<td>{{ rows[row].time }}</td>
				        	<td>{{ rows[row].pat_name }}</td>
				        	<td>{{ rows[row].emp_name }}</td>
				        	<td>
				        		{% if rows[row].remote == true %}
				        		<p>Yes</p>
				        		{% endif %}

				        		{% if rows[row].remote == false %}
				        		<p>No</p>
				        		{% endif %}

				        	</td>
				        	<td>{{ rows[row].status }}</td>
				        	<th>
								
								{% if rows[row].status == "upcoming" or rows[row].status == "missed" %}
								<a href="{{ url_for('happenedvisit', id=rows[row].id) }}"><button type="button" class="btn btn-primary btn-sm m-1" data-toggle="modal" data-target="">Happened</button>
								{% endif %}

								{% if rows[row].status == "upcoming" or rows[row].status == "happened" %}
								<a href="{{ url_for('missedvisit', id=rows[row].id) }}"><button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="">Missed</button>
								{% endif %}

								{% if rows[row].status == "upcoming" %}
								<a href="{{ url_for('deletevisit', id=rows[row].id) }}"><button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="" onclick="return confirm('Are you sure you want to cancel this visit?')">Cancel</button>
								{% endif %}
				        		
				        	</th>
			    		</tr>
		    		{% endfor %}
	    		</tbody>
	    		<tfoot>
	    			<tr>
	                  <th>ID</th>
	                  <th>Date</th>
	                  <th>Time</th>
	                  <th>Patient</th>
	                  <th>Doctor</th>
	                  <th>Remote</th>
	                  <th>Status</th>
	                  <th>Adjustments</th>
	                </tr>
	           	</tfoot>
    		</table>
              


















    {% endblock %}

